<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="reddit" ng-controller="RedditCtrl">

    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title">Ionic App 2 reddit exercise</h1>
      </ion-header-bar>
      <ion-content>
      <ul class="list">
        <a class="item item-thumbnail-left " ng-repeat="story in stories"
          href="{{ story.url}}" target="_blank">
          <img ng-src="{{story.thumbnail}}" ng-if="story.thumbnail.indexOf('http')=== 0">
          <h2 class="story-title">{{story.title}}</h2>  
          <p>{{story.domain}}</p>
        </a>
      </ul>

          
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
